body {
    font-family: Tahoma, Geneva, sans-serif;
}

#title {
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
}

#visualization, #controls {
  float: left;
}

#visualization {
    padding-left: 5em;
}

#controls {
    width: 200px;
}

#foods {
    margin-bottom: 2em;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
}

.tooltip {
    border-radius: 20px;
    position: absolute;
    padding: 5px;
    width: 200px;
    height: 75px;
    pointer-events: none;
    background: white;
}